.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  justify-content: space-between;
}

.item {
  width: calc(25% - 20px);
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.item:hover {
  transform: scale(1.05);
}

.poster {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #e76f51;
}

.title {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 10px;
  color: #333;
  text-align: center;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover .title {
  color: #e76f51;
}
